body {
    margin: 0;
    background-color: #e0a6d7;
    color: black;
}

.navbar {
    background-color: #c71585;
    color: white;
    font-variant: small-caps;
    font-size: 14px;
    padding: 1px;
    margin: 0;
}

.nav-link { 
    text-decoration: none;
    color: black;
    padding: 5px;
}

.nav-list {
    display: inline;
}

.about-maaja {
    text-align: center;
}

.quotes {
    margin: 10px;
}

.memories {
    margin: 10px;
}
